.swiper-wrapper {
    padding: 50px;
    height: 5vh;
}

.swiper-button-prev{
    padding-right: 30px;
    padding-left: 30px;
}

.swiper-button-next{
    padding-right: 30px;
    padding-left: 30px;
}