
.subreddit-container {
    width: 100%;
    text-align: center;
    border: none;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }


.subreddit-container.selected-subreddit {
    border: 5px solid #0788BF;
    background: #0788BF;
    z-index: 1;
  }

.subreddit-img{
    border: 2px solid #0788BF;
    width: 50%;
    border-radius: 10%;
    text-align: center;
  }

.subreddit-name {
  font-weight: 600;
  margin-top: 1vw;
}

.subreddit-name.selected-subreddit {
  color: white;
  font-size: 1.3em;
}

.subreddit-card {
  padding: 0;
}

